* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

header {
    background-color: #222;
    padding-top: 18px;
    padding-bottom: 20px;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-right: 40px;
}

.header_menu {
    display: flex;
    align-items: center;
}

.menu_items:not(:last-child) {
    margin-right: 33px;
}

.intro {
    height: 764px;
    background-color: #F1E4E6;
}

.intro_wrap {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
    background-image: url(./img/man.png);
    background-repeat: no-repeat;
    background-position: -228px 0;
}

.intro_text {
    max-width: 343px;
    padding-left: 20px;
    border-left: 12px solid #F16D7F;
}

.bold {
    font-size: 48px;
}

.pink {
    color: #F16D7F;
}

.sections {
    height: 470px;
    margin-top: 65px;
    margin-bottom: 96px;
}

.sections_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 260px;
}

.card:last-child {
    width: 100%;
    margin-top: 30px;
    height: 180px;
}

.card_text {
    text-align: center;
} 

.txt {
    color: #FFFFFF;
}

.card_w {
    background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(./img/women.jpg);
    background-position: center;
    background-size: cover;
}

.card_m {
    background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(./img/men.jpg);
    background-position: center;
    background-size: cover;
}

.card_k {
    background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(./img/kids.jpg);
    background-position: center;
    background-size: cover;
}

.card_a {
    background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(./img/accessories.jpg);
    background-position: center;
    background-size: cover;
} 

.goods_title {
    font-size: 30px;
    text-align: center;
    color: #222222;
}

.goods_descr {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #9F9F9F;
    margin-bottom: 48px;
}

.goods_cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} 

.item_card {
    width: 360px;
    height: 582px;
    background-color: #F8F8F8;
    margin-bottom: 30px;
    position: relative;
}

.shadow_btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 139px;
    height: 44px;
    border: 2px solid #FFFFFF;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    background-color: transparent;
}

.item_card:hover {
    box-shadow: rgba(58, 56, 56, 0.86);
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 420px;
    background-color: rgba(58, 56, 56, 0.86);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.item_card:hover .shadow {
    opacity: 1;
}

.card_txt {
    max-width: 314px;
    padding: 25px 17px 20px 17px;
}

.item_title {
    font-size: 13px;
    text-align: left;
    color: #000000;
}

.item_descr {
    font-style: 14px;
    text-align: left;
    color: #5D5D5D;
    margin-top: 13px;
    margin-bottom: 18px;
}

.price {
    font-size: 16px;
    text-align: left;
    color: #F16D7F;
}

.btn {
    display: flex;
    justify-content: center;
    margin-bottom: 95px;
    margin-top: 48px;
}

.button {
    font-style: 16px;
    text-align: center;
    color: #F26376;
    padding: 15px 49px;
    background: #FFFFFF;
    border: 2px solid #F26376;
}

.button:hover {
    background: #F26376;
    color: #FFFFFF;
}

.features {
    display: flex;
    align-items: center;
    height: 341px;
    background-color: #222224
}

.features_wrap {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.features_box {
    max-width: 360px;
    text-align: center;
}

.features_title {
    text-align: center;
    font-size: 19.96px;
    color: #FBFBFB;
    margin-top: 28px;
    margin-bottom: 16px;
}

.features_descr {
    font-size: 13.97px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    margin-left: 24px;
    margin-right: 24px;
}

.review {
    height: 448px;
    background: url(./img/review_bg.jpg) center center/cover no-repeat;
}

.review_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review_content {
    width: 360px;
    height: 225px;
    margin-top: 97px;
    margin-bottom: 126px;
    text-align: center;
}

.text {
    margin-top: 30px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.subscribe {
    width: 557px;
    height: 142px;
    margin-top: 150px;
    margin-bottom: 156px;
    text-align: center;
    padding: 0 24px;
}

.subscription_text {
    max-width: 557px;
    text-align: center;
    font-size: 18px;
    color: #222224;
    margin-bottom: 37px;
}

.bld {
    font-size: 24px;
    line-height: 40px;
}

input {
    width: 256px;
    height: 49px;
    border: none;
    padding-left: 22px;
    background: #E1E1E1;
    border-radius: 20px 0 0 20px;
}
  
.bottom_btn {
    width: 100px;
    height: 49px;
    cursor: pointer;
    border: none;
    padding: 7px;
    color: #FFFFFF;
    background: #F16D7F;
    border-radius: 0 20px 20px 0;
}
  
.frm {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 79px;
    box-sizing: border-box;
    background-color: #222224;
}

.bottom_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rights {
    font-size: 16px;
    color: #FBFBFB;
    margin: 30px 0;
}

.social {
    display: flex;
    justify-content: space-between;
}

.social_items:not(:last-child) {
    margin-right: 7px;
}

.arrivals {
    height: 148px;
    background: #F8F3F4;
    margin-bottom: 132px;
}

.arrivals_wrap {
    display: flex;
    justify-content: space-between;
}

.ttl{
    margin: 60px 0;
}

.subtitle {
    font-size: 24px;
    color: #F16D7F;
}

.topics {
    display: flex;
    justify-content: space-around;
    margin: 65px 0;
}

.link_topics {
    font-size: 14px;
    color: #636363
}

.link_arrivals {
    font-size: 14px;
    color:#F16D7F;
}

.devider {
    font-size: 14px;
    color: #636363;
    margin: 0 3px;
}

.goods_margin {
    margin-bottom: 188px;
}